@import "tailwindcss";

@theme {
  --font-gotham: "gotham", sans-serif;
  --color-brand: #01204e;
  --color-dark: #030303;
  /* --color-brand: #676eff;
  --color-primary-light: #72748e;
  --color-primary-dark: #23232f;
  --color-bg: #292733; */
  /* --color-surface: var(--my-custom-hex); */
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "gotham";
  src: url("./assets/fonts/GothamRounded-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}